@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-100 text-zinc-900 antialiased selection:bg-zinc-900 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom Slim Scrollbars */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 rounded-full hover:bg-zinc-400 transition-colors;
  }
}

@layer utilities {
  .subtle-border {
    @apply border border-zinc-200;
  }
}
